h1 {
    text-align: center;
    color: crimson;
}
table {
    border: 5px black;
    border-style: double;
    width: 100%;
    height: 100%;
    text-align: center;
}

td {
    border: 2px black;
    border-style: solid;
}

th {
    background-color: green;
    color: white;
}

.maleBelow {
    background-color: grey;
    
}

.maleAbove {
    background-color: black;
    color: white;
}

.femaleBelow {
    background-color: red;
}

.femaleAbove {
    background-color: pink;
    color: white;
}

li {
    list-style: none;
    padding: 10px 30px;
    background-image: url(../images/sadpepe.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 20px;
    color: black;
    font-size: medium;
}

form {
    text-align: center;
    color: crimson;
    font-size: 25px;
    font-weight: bold;
}
button:hover {
    font-size: 25px;
    opacity: 0.3;
}
button {
    border: 2px solid blueviolet;
    height: 30px;   
    width: 50%;
    color: crimson;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}

input {
    border: 2px solid blueviolet;
    display: block;
    margin: auto;
    height: 20px;
    width: 50%;
}

textarea {
    border: 2px solid blueviolet;
    display: block;
    margin: auto;
    height: 50px;
    width: 50%;

}
.border {
    border: 2px blue;
    border-style: double;
}

footer img{
    height: 30px;
    width: 30px;
    margin: auto;
}